body{
    font-family:"Montserrat";
    text-align: center;
}
h1,h2,h3
{
  font-family:"Montserrat-Bold";
}
h2
{
  font-size: 3.5rem;
  font-weight: bold;
  line-height:1.5;
}
h3
{
  font-size: 1.5rem;
  font-weight: bold;
}
.container-fluid
{
  padding: 3% 15% 7%;
}
.big-heading
{
  font-size: 3.5rem;
  font-weight:bolder;
  line-height:1.5;
  color: #fff;
}
#title
{
  background-color: #ff4c68;
    color: white;
    text-align: left;
}
/* navigatuon bar */
.navbar
{
  padding: 0 0 4.5rem;
}
.navbar-brand
{
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item
{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
/* download buttons */
.download-btn{
  margin: 5% 3% 5% 0;
}
/* ttle image */

.title-image{
    transform: rotate(25deg);
  position: absolute;
  right: 20%;
}
/* features esction */
#features{
  padding: 7% 14%;
  z-index: 1;
  position: relative;
  background-color: white;
}
.feature-box
{
  padding: 5%;
}
p{
  color: grey;
}
.dec-img{
color:#ef8172;
margin-bottom: 1rem;
}
.dec-img:hover{
color:#ff4c68;
}

/* testimonial section */
#testimonials
{
  background-color:#ef8172;
  color: white;
}
.testimonial-img
{
border-radius: 100%;
width: 10%;
margin: 20px;
}
/* press section */
#press{
    background-color:#ef8172;
    padding-bottom: 3%;
}
.press-logo
{
  width: 10%;
  margin: 20px 20px 50px;
}
.carousel-item
{
    padding: 7% 14%;
}
/* pricing section */
#pricing{
  padding: 100px;
}
.pricing-table
{
  padding: 3% 2%;
}

/* making responsove using media query */
@media(max-width:1170px){
  #title
  {
        text-align: center;
  }
  .title-image{
    position: static;
      transform: rotate(0);
  }
}

#cta
{
  background-color: #ff4c68;
  padding: 7% 15%;
}

/* footer section */
#footer{
padding: 7% 15%;
}
.footer-icon
{margin: 10px 20px;}
